level-file > label > input {
  display: none;
}
level-file > label > input ~ span {
  color: red;
}
level-file > label > input:invalid ~ span {
  color: yellow;
}
level-file [name="save-lst"] {
  height: 16px;
  width: 16px;
  background-image: url(../tiles/0a.png);
}
level-file [name="save-dat"] {
  height: 16px;
  width: 16px;
  background-image: url(../tiles/12.png);
}
level-file [name="load-dat"] {
  height: 16px;
  width: 16px;
  background-image: url(../tiles/13.png);
}