@import "level-file.css";
@import "level-list.css";
@import "level-view.css";
@import "tile-layers.css";
@import "info-box.css";
@import "tile.css";
@import "tile-selector.css";
@import "port.css";

body {
  padding: 20px;
}

level-editor {
  display: grid;
  white-space: nowrap;
  grid-template-columns: auto auto 100fr;
  grid-template-rows: auto auto auto 100fr;
  column-gap: 20px;
  align-items: start;
}

level-editor > level-file {
  grid-column-start: 1;
  grid-column-end: -1;
  grid-row-start: 1;
  margin-bottom: 20px;
}
level-editor > level-list {
  grid-column-start: 1;
  grid-row-start: 2;
}
level-editor > level-view {
  grid-column-start: 2;
  grid-row-start: 2;
}

level-editor > tile-selector {
  grid-column-start: 3;
  grid-row-start: 2;
}

level-editor [title="misc"] > section {
  margin-right: 32px;
}
level-editor [title="misc"] input {
  width: 18px;
}
level-editor [title="misc"] > section:first-child {
  text-align: right;
}

selection-layer, level-tiles, edit-layer {
  display: flex;
  flex-wrap: wrap;
  white-space: pre;
  line-height: 10px;
  width: 960px;
}

level-tiles > [type="03"] ~ [type="03"] {
  filter: hue-rotate(200deg) brightness(1.8) contrast(2);
  z-index: -1;
}

edit-layer > edit-tile {
    background-color: rgba(63,63,63,.7);
}

edit-layer > edit-tile:hover {
    background-color: transparent;
}
