@import "reset.css";
@import "level-editor.css";

@font-face {
  font-family: 'Syne Mono';
  font-style: normal;
  font-weight: 400;
  src: local('Syne Mono'),
       url('../font/syne-mono.woff2') format('woff2'),
       url('../font/syne-mono.woff') format('woff');
}

body {
  font-family: "Syne Mono", monospace;
  background: #333;
  color: #c22;
}

input[type=text],
input[type=number] {
  font-family: "Syne Mono";
  font-size: 1rem;
  color: cornflowerblue;
  vertical-align: baseline;
  text-align: right;
  padding: 0;
  margin: 0;
  height: 18px;
  border-bottom: 1px solid gray;
}

input:invalid {
  color: red;
}
